* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-atracoes {
	margin-top: 20px;
	text-align: center;
	max-width: 200px;
}

.carousel-inner {
	align-items: center;
	text-align: center;
	width: 50%;
}

.container-cards img {
	align-items: center;
	text-align: center;
	height: 100%;
	max-height: fit-content;
}
